.VipParticlePanel
{
	width: 100%;
    height: 100%;
}
#VipParticleBackGround
{
    /*background-color: gradient(linear, 100% 0%, 0% 0%, from(black), color-stop(0.6, black), to(#c0c0c0c0));*/
    visibility: visible;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: 0.5s;
    flow-children: down;
    x: 360px;
}
#VipParticleIcon
{
	visibility: visible;
    align: right top;
    width: 56px;
    height: 56px;
    margin-right: 560px;
    transition-property: transform, wash-color, width, height;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
#VipParticleIcon:hover
{
	width: 80px;
    height: 80px;
}
#VipParticleSelect
{
	visibility: visible;
	align: right center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #2a2a2a ), to( #1e1e1e ) );
    width: 360px;
    height: 240px;
    border-radius: 8px;
    border: 2px solid #5D738E;
    flow-children: down;
    transition-property: transform, wash-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
#VipParticleDrop
{
	align: center top;
	margin-top: 10%;
}
#VipParticleTopBar
{
	width: 100%;
	height: 20%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #191919 ), to( #2a2a2a ) );
}
#VipParticleButtonPanel
{
	margin-top: 20%;
	width: 100%;
	flow-children: right;
}
.BlueLabel
{
    font-size: 24px;
    margin-top: 20%;
    width: 100%;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 8px 2.0 skyblue;
    letter-spacing: 6px;
    font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, Gulim,MingLiU;
    horizontal-align: center;
    text-align: center;
    text-transform: uppercase;
}
.NormalText
{
	align: center center;
	font-size: 18px;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    text-align: center;
}
.VipParticleButton
{
	width: 124px;
	height: 36px;
	margin-left: 10%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d45 ), to( #4d5860 ) );
	border-style: solid;
	border-width: 1px;
	padding: 4px 10px;
	border-top-color: #555555;
	border-left-color: #494949;
	border-bottom-color: #333333;
	border-right-color: #404040;
	transition-property: background-color;
	transition-duration: 0.05s;
	transition-timing-function: linear;
	box-shadow: #00000055 -2px -2px 4px 4px;

}
.VipParticleButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );

	border-top-color: #aaaaaa77;
	border-left-color: #aaaaaa33;
	border-bottom-color: #333333;
	border-right-color: #404040;
}
.VipParticleButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939), to( #555555 ) );

	border-top-color: #222222;
	border-left-color: #303030;
	border-bottom-color: #666666;
	border-right-color: #444444;
	sound: "ui_generic_button_click";
}
.VipParticleSelectExpanded
{
	transform: translateX(-360px);
	
}
.VipParticleSelectDetails
{
	transform: translateX(0px);
	
}