.UpgradePanel{
	align: right bottom;
	width: 262px;
	height: 50px;
	margin-bottom: 60px;
}
#UpgradeBG{
	visibility: collapse;
	width: 100%;
	height: 100%;
	background-size: 100%;
	flow-children: right;
	background-image: url("s2r://panorama/images/hud/reborn/quickbuy_bg_psd.vtex");
}
.UpgradeButton{
	align: left center;
	margin-left: 12px;
	tooltip-position: top;
	width: 70px;
	height: 36px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6f829c00 ), to( #87CEEB44 ) );
	border-style: solid;
	border-width: 1px;
	border-top-color: #87CEEB44;
	border-left-color: #494949;
	border-bottom-color: #333333;
	border-right-color: #404040;
	transition-property: background-color;
	transition-duration: 0.05s;
	transition-timing-function: linear;
	box-shadow: #00000055 -2px -2px 4px 4px;
}
.UpgradeButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6f829c44 ), to( #87CEEB88 ) );

	border-top-color: #aaaaaa77;
	border-left-color: #aaaaaa33;
	border-bottom-color: #333333;
	border-right-color: #404040;
}
.UpgradeButton:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939), to( #555555 ) );

	border-top-color: #222222;
	border-left-color: #303030;
	border-bottom-color: #666666;
	border-right-color: #444444;
	sound: "ui_generic_button_click";
}
.ShopButtonValueLabel{
	font-size: 22px;
	font-weight: bold;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-align: center;
	text-shadow: 0px 1px 2px 3.0 #00000077;
	transition-property: color;
	transition-duration: .1811s;
	transition-timing-function: ease-in-out;
	horizontal-align: right;
	vertical-align: center;
	margin-top: 2px;
	min-width: 60px;
	width: 100%;
	opacity: 1;
	color: white;
	letter-spacing: 1px;
	text-overflow: shrink;
}