.Full {
  width: 100%;
  height: 100%;
}
.CloseButton {
  width: 30px;
  height: 30px;
  background-image: url("file://{images}/control_icons/x_close_gradient_png.png");
  background-size: 100%;
  transition-property: wash-color;
  transition-duration: 0.1s;
}
.CloseButton:active {
  background-size: 100%;
}
.CommonButton {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#5a6c75), to(#3d4a50));
  border: 1px solid black;
  margin: 8px;
  width: 192px;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #ffffff44;
  border-right: 1px solid #4e5b60;
  border-left: 1px solid #4e5b60;
  border-bottom: 1px solid #00000088;
  transition-property: background-color, wash-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.CommonButton:hover {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#a9c8da), to(#596b75));
}
.CommonButton:active {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#272f33), to(#5a6c75));
  border-top: 1px solid #00000088;
  border-right: 1px solid #00000088;
  border-left: 1px solid #00000088;
  border-bottom: 1px solid #aaaaaa44;
}
.CommonButton Label {
  color: white;
  font-size: 24px;
  align: center center;
}
.CheckBox:selected Label {
  color: white;
}
.CheckBox Label {
  font-size: 18px;
  color: #7d8688;
  vertical-align: center;
  margin: 0px;
  padding-top: 4px;
  padding-left: 5px;
  letter-spacing: 1px;
  font-weight: thin;
}
.CommonMoneyContainer {
  flow-children: right;
  vertical-align: center;
}
.CommonMoneyContainer .ShardIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transform: translateY(2px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  tooltip-position: top;
  background-image: dotaPlusCurrencySmallIcon;
}
.CommonMoneyContainer .PriceIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transform: translateY(2px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  tooltip-position: top;
  background-image: dotaPlusCurrencySmallIcon;
  background-image: url("file://{images}/dota_plus/dotaplus_logo_small_png.png");
}
.CommonMoneyContainer Label {
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  vertical-align: bottom;
  color: baseText;
}
.CommonBalance {
  flow-children: right;
}
.CommonBalance .CurrentBalance {
  vertical-align: center;
}
.CommonBalance .RechargeButton {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#5a6c75), to(#3d4a50));
  border: 1px solid black;
  margin: 8px;
  width: 192px;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #ffffff44;
  border-right: 1px solid #4e5b60;
  border-left: 1px solid #4e5b60;
  border-bottom: 1px solid #00000088;
  transition-property: background-color, wash-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.CommonBalance .RechargeButton:hover {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#a9c8da), to(#596b75));
}
.CommonBalance .RechargeButton:active {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#272f33), to(#5a6c75));
  border-top: 1px solid #00000088;
  border-right: 1px solid #00000088;
  border-left: 1px solid #00000088;
  border-bottom: 1px solid #aaaaaa44;
}
.CommonBalance .RechargeButton Label {
  color: white;
  font-size: 24px;
  align: center center;
}
.CommonBalance .RechargeButton Label {
  horizontal-align: center;
}
.DotaPlusPurchaseButton {
  horizontal-align: center;
  padding: 4px 0px 2px 0px;
  margin: 0px 4px 0px 4px;
  width: fill-parent-flow(1);
  border-top: 1px solid #ffffff22;
  border-left: 1px solid #ffffff11;
  border-right: 1px solid #00000044;
  border-bottom: 1px solid #00000088;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#433620), to(#141b21));
}
.DotaPlusPurchaseButton:hover {
  brightness: 2;
}
.DotaPlusPurchaseButton:active {
  brightness: 1.5;
}
.DotaPlusPurchaseButton Label {
  margin-left: 2px;
  margin-right: 4px;
  color: dotaPlusLightGold;
  font-size: 18px;
  padding: 0px;
}
.DotaPlusPurchaseButton .ButtonCenter {
  horizontal-align: center;
  flow-children: right;
}
.DotaPlusPurchaseButton .DotaPlusCurrencyIcon {
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  margin-bottom: 6px;
  background-image: dotaPlusCurrencySmallIcon;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.DotaPlusPurchaseButton .DotaPlusPriceCurrencyIcon {
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  margin-bottom: 6px;
  background-image: dotaPlusCurrencySmallIcon;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("file://{images}/dota_plus/dotaplus_logo_small_png.png");
}
