.Full {
  width: 100%;
  height: 100%;
}
.CloseButton {
  width: 30px;
  height: 30px;
  background-image: url("s2r://panorama/images/control_icons/x_close_gradient_png.vtex");
  background-size: 100%;
  transition-property: wash-color;
  transition-duration: 0.1s;
}
.CloseButton:active {
  background-size: 100%;
}
.CommonButton {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#5a6c75), to(#3d4a50));
  border: 1px solid black;
  margin: 8px;
  width: 192px;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #ffffff44;
  border-right: 1px solid #4e5b60;
  border-left: 1px solid #4e5b60;
  border-bottom: 1px solid #00000088;
  transition-property: background-color, wash-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.CommonButton:hover {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#a9c8da), to(#596b75));
}
.CommonButton:active {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#272f33), to(#5a6c75));
  border-top: 1px solid #00000088;
  border-right: 1px solid #00000088;
  border-left: 1px solid #00000088;
  border-bottom: 1px solid #aaaaaa44;
}
.CommonButton Label {
  color: white;
  font-size: 24px;
  align: center center;
}
.CheckBox:selected Label {
  color: white;
}
.CheckBox Label {
  font-size: 18px;
  color: #7d8688;
  vertical-align: center;
  margin: 0px;
  padding-top: 4px;
  padding-left: 5px;
  letter-spacing: 1px;
  font-weight: thin;
}
.PopupRoot {
  width: 100%;
  height: 100%;
  background-color: #060606F0;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.PopupPanel {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#272d2eee), to(#131617ee));
  border: 1px solid #5e6869;
  width: 800px;
  min-height: 650px;
  align: center center;
  box-shadow: black -4px -4px 8px 8px;
  animation-name: links-and-more-button-focus;
  animation-duration: 0.6s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  transition-property: transform, pre-transform-scale2d, opacity, background-color, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}
@keyframes 'links-and-more-button-focus' {
  from {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#a9c8daee), to(#000000ee));
  }
  50% {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#272d2eee), to(#131617ee));
  }
  to {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#272d2eee), to(#131617ee));
  }
}
.PopupTitle {
  font-size: 30px;
  color: #afb4b4;
  margin-top: 15px;
  horizontal-align: center;
}
.CloseButton {
  z-index: 100;
  horizontal-align: right;
  width: 46px;
  height: 43px;
}
.ButtonCommon {
  align: center bottom;
  margin-bottom: 10px;
  width: 119px;
  height: 50px;
}
.ButtonCommon Label {
  align: center center;
  font-size: 18px;
  color: white;
  text-shadow: 0px 0px 5px 3 black;
}
.PopupButtonRow {
  flow-children: right;
  horizontal-align: center;
  vertical-align: bottom;
  margin-bottom: 25px;
}
.PopupButtonRow .DotaPlusPurchaseButton {
  horizontal-align: center;
  padding: 4px 0px 2px 0px;
  margin: 8px;
  width: 192px;
  height: 40px;
  background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
  background-size: 100% 100%;
  border-top: 1px solid #ffffff22;
  border-left: 1px solid #ffffff11;
  border-right: 1px solid #00000044;
  border-bottom: 1px solid #00000088;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(dotaPlusGold), to(#141b21));
}
.PopupButtonRow .DotaPlusPurchaseButton:hover {
  brightness: 2;
}
.PopupButtonRow .DotaPlusPurchaseButton:active {
  brightness: 1.5;
}
.PopupButtonRow .DotaPlusPurchaseButton Label {
  vertical-align: center;
  margin-left: 2px;
  margin-right: 4px;
  color: dotaPlusLightGold;
  font-size: 24px;
  padding: 0px;
  text-shadow: 0px 0px 4px 4 #000000;
}
.PopupButtonRow .DotaPlusPurchaseButton .ButtonCenter {
  horizontal-align: center;
  flow-children: right;
}
.PopupButtonRow .DotaPlusPurchaseButton .DotaPlusCurrencyIcon {
  width: 24px;
  height: 24px;
  vertical-align: center;
  background-image: dotaPlusCurrencySmallIcon;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  img-shadow: 0px 0px 3px 3 #000000;
}
.PopupButtonRow .DotaPlusPurchaseButton .DotaPlusPriceCurrencyIcon {
  width: 24px;
  height: 24px;
  vertical-align: center;
  background-image: dotaPlusCurrencySmallIcon;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  img-shadow: 0px 0px 3px 3 #000000;
  background-image: url("file://{images}/dotaplus_logo_small.png");
}
.PopupButton {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#5a6c75), to(#3d4a50));
  border: 1px solid black;
  margin: 8px;
  min-width: 192px;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #ffffff44;
  border-right: 1px solid #4e5b60;
  border-left: 1px solid #4e5b60;
  border-bottom: 1px solid #00000088;
  transition-property: background-color, wash-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.MoneyContainer {
  width: 90%;
  flow-children: right;
  horizontal-align: center;
  vertical-align: bottom;
  margin-bottom: 100px;
}
.MoneyContainer .CostContainer {
  vertical-align: center;
  flow-children: right;
}
.MoneyContainer .CostContainer Label {
  font-size: 30px;
}
.MoneyContainer .RechargeContainer {
  vertical-align: center;
  flow-children: right;
  horizontal-align: center;
}
.MoneyContainer .RechargeContainer Label {
  font-size: 30px;
}
.CommonMoneyContainer {
  flow-children: right;
  vertical-align: center;
}
.CommonMoneyContainer .ShardIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transform: translateY(2px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  tooltip-position: top;
  background-image: dotaPlusCurrencySmallIcon;
}
.CommonMoneyContainer .PriceIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transform: translateY(2px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  tooltip-position: top;
  background-image: dotaPlusCurrencySmallIcon;
  background-image: url("file://{images}/dotaplus_logo_small.png");
}
.CommonMoneyContainer Label {
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  vertical-align: bottom;
  color: baseText;
}
.CommonBalance {
  flow-children: right;
}
.CommonBalance .CurrentBalance {
  vertical-align: center;
}
.CommonBalance .RechargeButton {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#5a6c75), to(#3d4a50));
  border: 1px solid black;
  margin: 8px;
  width: 192px;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #ffffff44;
  border-right: 1px solid #4e5b60;
  border-left: 1px solid #4e5b60;
  border-bottom: 1px solid #00000088;
  transition-property: background-color, wash-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.CommonBalance .RechargeButton:hover {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#a9c8da), to(#596b75));
}
.CommonBalance .RechargeButton:active {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#272f33), to(#5a6c75));
  border-top: 1px solid #00000088;
  border-right: 1px solid #00000088;
  border-left: 1px solid #00000088;
  border-bottom: 1px solid #aaaaaa44;
}
.CommonBalance .RechargeButton Label {
  color: white;
  font-size: 24px;
  align: center center;
}
.CommonBalance .RechargeButton Label {
  horizontal-align: center;
}
.DotaPlusPurchaseButton {
  horizontal-align: center;
  padding: 4px 0px 2px 0px;
  margin: 0px 4px 0px 4px;
  width: fill-parent-flow(1);
  border-top: 1px solid #ffffff22;
  border-left: 1px solid #ffffff11;
  border-right: 1px solid #00000044;
  border-bottom: 1px solid #00000088;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#433620), to(#141b21));
}
.DotaPlusPurchaseButton:hover {
  brightness: 2;
}
.DotaPlusPurchaseButton:active {
  brightness: 1.5;
}
.DotaPlusPurchaseButton Label {
  margin-left: 2px;
  margin-right: 4px;
  color: dotaPlusLightGold;
  font-size: 18px;
  padding: 0px;
}
.DotaPlusPurchaseButton .ButtonCenter {
  horizontal-align: center;
  flow-children: right;
}
.DotaPlusPurchaseButton .DotaPlusCurrencyIcon {
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  margin-bottom: 6px;
  background-image: dotaPlusCurrencySmallIcon;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.DotaPlusPurchaseButton .DotaPlusPriceCurrencyIcon {
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  margin-bottom: 6px;
  background-image: dotaPlusCurrencySmallIcon;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("file://{images}/dotaplus_logo_small.png");
}
.StoreItemDetail {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
  height: 400px;
}
.PopupHeroScene {
  width: 400px;
  height: 400px;
}
.AbilityList {
  horizontal-align: right;
  height: 80px;
  width: 50%;
  flow-children: right;
}
.AbilityList DOTAAbilityImage {
  vertical-align: center;
  margin-left: 8px;
  height: width-percentage(100%);
  width: fill-parent-flow(1);
}
.AttributeContainer {
  horizontal-align: right;
  margin-top: 100px;
  width: 50%;
  padding-left: 8px;
  flow-children: down;
}
.AttributeContainer .TopContainer {
  flow-children: right;
}
.AttributeContainer .HeroStatsSection {
  flow-children: down;
  margin-right: 16px;
  tooltip-position: top;
  tooltip-body-position: 50% 50%;
}
.AttributeContainer .HeroStatsSection .HeroStatsHeader {
  text-transform: uppercase;
  color: #ccc;
}
.AttributeContainer .HeroStatsSection .HeroStatsRow {
  flow-children: right;
}
.AttributeContainer .HeroStatsSection .HeroStatsRow > Label {
  color: #aaa;
}
.AttributeContainer .HeroStatsSection .HeroStatsIcon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.AttributeContainer .HeroStatsSection .StrengthIcon {
  background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");
}
.AttributeContainer .HeroStatsSection .AgilityIcon {
  background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex");
}
.AttributeContainer .HeroStatsSection .IntelligenceIcon {
  background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex");
}
.AttributeContainer .HeroStatsSection #HealthRow {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#1A3D1A), color-stop(0.2, #67A163), color-stop(0.5, #187019), to(#175D17));
}
.AttributeContainer .HeroStatsSection #HealthRow .ResourceRegen {
  color: #3ed038;
}
.AttributeContainer .HeroStatsSection #ManaRow {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#6A90BA), color-stop(0.4, #144B91), to(#2E5187));
}
.AttributeContainer .HeroStatsSection #ManaRow .ResourceRegen {
  color: #83C2FE;
}
.AttributeContainer .HeroStatsSection .HeroResourceRow {
  width: 400px;
  border-radius: 4px;
  margin-bottom: 4px;
}
.AttributeContainer .HeroStatsSection .MaxResource {
  horizontal-align: center;
  text-shadow: 1px 1px 0px 2 #000000;
  font-weight: bold;
  color: white;
  margin-top: 2px;
}
.AttributeContainer .HeroStatsSection .ResourceRegen {
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 2px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  horizontal-align: right;
  text-shadow: 1px 1px 0px 1 #000000;
}
#SetPreview {
  width: height-percentage(120%);
  height: 100%;
  horizontal-align: center;
}
.PetAbilityList {
  horizontal-align: center;
  height: 80px;
  flow-children: right;
}
.PetAbilityList DOTAAbilityImage {
  vertical-align: center;
  margin-left: 8px;
  height: width-percentage(100%);
  width: fill-parent-flow(1);
  max-width: 80px;
  border-radius: 8px;
}
.CommonItemDescription {
  width: 100%;
  background-color: #000a;
  padding: 16px;
  horizontal-align: center;
  margin-top: 150px;
  height: 300px;
}
.MoviePanel {
  width: 480px;
  height: 270px;
  border-radius: 8px;
  horizontal-align: center;
  opacity-mask: url("s2r://panorama/images/masks/scratched_box_psd.vtex");
}
.MoviePanel Label {
  font-family: titleFont;
  width: 100%;
  height: 22px;
  text-align: center;
  vertical-align: bottom;
  margin-bottom: 20px;
  color: gradient(linear, 0% 100%, 0% 0%, from(#F4C856), color-stop(0.2, #A2790D), color-stop(0.4, #EBD197), to(#EBD197));
  text-shadow: 0px 0px 5px 4 black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  text-overflow: shrink;
}
.ParticleItemDescription {
  width: 100%;
  background-color: #000a;
  padding: 16px;
  horizontal-align: center;
  margin-top: 280px;
  height: 150px;
}
.PopusNotify {
  align: center center;
  width: 300px;
  height: 200px;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#272d2eee), to(#131617ee));
  border: 1px solid #5e6869;
  box-shadow: black -4px -4px 8px 8px;
  transition-property: opacity, pre-transform-scale2d;
  transition-duration: 0.2s;
  opacity: 0;
  pre-transform-scale2d: 0.5;
}
.PopusNotify Image {
  width: 108px;
  height: 96px;
  align: center center;
  background-image: url("s2r://panorama/images/compendium/international2020/compendium/gauntlet_check_png.vtex");
  background-size: 100%;
  wash-color: #0f0;
}
.PaySuccess .PopusNotify {
  opacity: 1;
  pre-transform-scale2d: 1;
}
