/*横向排列*/
.flow-right
{
    flow-children: right;
}

/*纵向排列*/
.flow-down
{
    flow-children: down;
}

/*水平居左*/
.align-left
{
    horizontal-align: left;
}

/*横向排列*/
.align-center
{
    horizontal-align: center;
}

/*水平居右*/
.align-right
{
    horizontal-align: right;
}

/*垂直居顶*/
.align-top
{
    vertical-align: top;
}

/*垂直居中*/
.align-middle
{
    vertical-align: middle;
}

/*垂直居底*/
.align-bottom
{
    vertical-align: bottom;
}

/*横竖居中*/
.center{
	horizontal-align: center;
	vertical-align: middle;
}

/*长宽100%*/
.full{
	width: 100%;
	height: 100%;
}

/*长100%*/
.width-1{
	width: 10%;
}
.width-2{
	width: 20%;
}
.width-3{
	width: 30%;
}
.width-4{
	width: 40%;
}
.width-5{
	width: 50%;
}
.width-6{
	width: 60%;
}
.width-7{
	width: 70%;
}
.width-8{
	width: 80%;
}
.width-9{
	width: 90%;
}
.width-f{
	width: 100%;
}

/*宽100%*/
.height-1{
	height: 10%;
}
.height-2{
	height: 20%;
}
.height-3{
	height: 30%;
}
.height-4{
	height: 40%;
}
.height-5{
	height: 50%;
}
.height-6{
	height: 60%;
}
.height-7{
	height: 70%;
}
.height-8{
	height: 80%;
}
.height-9{
	height: 90%;
}
.height-f{
	height: 100%;
}

/*显示*/
.show{
	visibility: visible;
}

/*隐藏*/
.hide{
	visibility: collapse;
}

/*文字居左*/
.text-left{
    text-align: left;
}

/*文字居中*/
.text-center{
	text-align: center;
}

/*文字居右*/
.text-right{
	text-align: right;
}

/*tooltip显示的位置*/
.tooltip-left{
	tooltip-position: left;
}
.tooltip-top{
	tooltip-position: top;
}
.tooltip-right{
	tooltip-position: right;
}
.tooltip-bottom{
	tooltip-position: bottom;
}

/*字体颜色*/
.color-white{
	color: white;
}
.color-red{
	color: red;
}
.color-yellow{
	color: yellow;
}
.color-green{
	color: green;
}
.color-black{
	color: black;
}
.color-blue{
	color: blue;
}
.color-gold{
	color: gold;
}
.color-orange{
	color: orange;
}

/*背景色*/
.background-white{
	background-color: white;
}
.background-red{
	background-color: red;
}
.background-yellow{
	background-color: yellow;
}
.background-green{
	background-color: green;
}
.background-black{
	background-color: black;
}
.background-blue{
	background-color: blue;
}
.background-gold{
	background-color: gold;
}
.background-orange{
	background-color: orange;
}

/*透明度*/
.opacity-0{
	opacity: 0;
}
.opacity-1{
	opacity: 0.1;
}
.opacity-2{
	opacity: 0.2;
}
.opacity-3{
	opacity: 0.3;
}
.opacity-4{
	opacity: 0.4;
}
.opacity-5{
	opacity: 0.5;
}
.opacity-6{
	opacity: 0.6;
}
.opacity-7{
	opacity: 0.7;
}
.opacity-8{
	opacity: 0.8;
}
.opacity-9{
	opacity: 0.9;
}

/*滚动条*/
.scroll{
	overflow: scroll;
}
.scroll-right{
	overflow: squish scroll;
}
.scroll-bottom{
	overflow: scroll squish;
}

/*矩形*/
.rect-32{
	width:32px;
	height:32px;
}
.rect-64{
	width: 64px;
	height: 64px;
}
.rect-128{
	width: 128px;
	height: 128px;
}
.rect-256{
	width: 256px;
	height: 256px;
}
.rect-512{
	width: 512px;
	height: 512px;
}
.rect-1024{
	width: 1024px;
	height: 1024px;
}
.rect-item{
	width: 88px;
	height: 64px;
}

/*字体大小*/
.font-largest
{
    font-size: 72px;
}
.font-larger
{
    font-size: 48px;
}
.font-large
{
    font-size: 36px;
}
.font-normal
{
    font-size: 28px;
}
.font-small
{
    font-size: 24px;
}
.font-smaller
{
    font-size: 18px;
}
.font-smallest
{
    font-size: 12px;
}

/*字体类型*/
.font-bold
{
    font-weight: bold;
}

/*字体阴影*/
.text-shadow-blue
{
    text-shadow: 0px 0px 1px 1.3 skyblue;
}

/*盒子阴影*/
.box-shadow-blue
{
    box-shadow: skyblue 0px 0px 4px 0px;
}

/*外边距*/
.margin-1
{
    margin: 10px;
}
.margin-2
{
    margin: 20px;
}
.margin-3
{
    margin: 30px;
}
.margin-4
{
    margin: 40px;
}
.margin-5
{
    margin: 50px;
}
.margin-6
{
    margin: 60px;
}
.margin-7
{
    margin: 70px;
}
.margin-8
{
    margin: 80px;
}
.margin-9
{
    margin: 90px;
}
.margin-10
{
    margin: 100px;
}

/*内边距*/
.padding-1
{
    padding: 10px;
}
.padding-2
{
    padding: 20px;
}
.padding-3
{
    padding: 30px;
}
.padding-4
{
    padding: 40px;
}
.padding-5
{
    padding: 50px;
}
.padding-6
{
    padding: 60px;
}
.padding-7
{
    padding: 70px;
}
.padding-8
{
    padding: 80px;
}
.padding-9
{
    padding: 90px;
}
.padding-10
{
    padding: 100px;
}
.HorizonLine
{
    width: 100%;
    height: 3px;
    vertical-align: bottom;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( #6f829c00 ), color-stop( 0.3, #87CEEB88 ), color-stop( 0.37, #87CEEBff ), color-stop( 0.63, #87CEEBff ), color-stop( 0.7, #87CEEB88 ), to( #6f829c00 ) );
}