.overheadRoot {
  width: 100%;
  height: 100%;
}
@keyframes 'breath' {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ColorBlindModeEnabled #OverheadContainer .Overhead #HealthProgress_Left {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#658fdf), color-stop(0.2, #a4caff), color-stop(0.5, #3f6fcb), to(#2c56ab));
}
.ColorBlindModeEnabled #BossOverheadContainer #BossOverheadHealthProgressBar_Left {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#658fdf), color-stop(0.2, #a4caff), color-stop(0.5, #3f6fcb), to(#2c56ab));
}
#OverheadContainer {
  width: 100%;
  height: 100%;
}
#OverheadContainer .Overhead {
  margin-top: -8px;
  flow-children: down;
}
#OverheadContainer .Overhead.UpperLevel {
  z-index: 1;
}
#OverheadContainer .Overhead.no_health_bar {
  opacity: 0;
}
#OverheadContainer #QualificationAbilities {
  horizontal-align: center;
  flow-children: right;
  animation-name: breath;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#OverheadContainer #QualificationAbilities .UnitIcon {
  margin-left: 5px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  tooltip-body-position: 50% 100%;
  tooltip-position: bottom;
  box-shadow: fill #cac7c880 -1px -1px 2px 2px;
}
#OverheadContainer #QualificationAbilities .UnitIcon.rarity_r {
  box-shadow: fill #bbe3ff80 -1px -1px 2px 2px;
}
#OverheadContainer #QualificationAbilities .UnitIcon.rarity_sr {
  box-shadow: fill #d3bcff80 -1px -1px 2px 2px;
}
#OverheadContainer #QualificationAbilities .UnitIcon.rarity_ssr {
  box-shadow: fill #e1c98980 -1px -1px 2px 2px;
}
#OverheadContainer #Stars {
  horizontal-align: center;
  height: 15px;
  margin-bottom: -20px;
  flow-children: right;
}
#OverheadContainer .Star1 #Stars {
  wash-color: #5bc0de;
}
#OverheadContainer .Star2 #Stars {
  wash-color: #ff7621;
}
#OverheadContainer .Star3 #Stars {
  wash-color: #cd2626;
}
#OverheadContainer .Star4 #Stars {
  wash-color: #ffcc00;
}
#OverheadContainer .Star5 #Stars {
  wash-color: #ffcc00;
}
#OverheadContainer .Star {
  width: height-percentage(100%);
  height: 100%;
  border-radius: 50%;
  background-image: url("file://{images}/control_icons/starfilled_psd.vtex");
  background-size: 100%;
  background-repeat: no-repeat;
  visibility: collapse;
}
#OverheadContainer .Star1 #Star_1 {
  visibility: visible;
}
#OverheadContainer .Star2 #Star_1,
#OverheadContainer .Star2 #Star_2 {
  visibility: visible;
}
#OverheadContainer .Star3 #Star_1,
#OverheadContainer .Star3 #Star_2,
#OverheadContainer .Star3 #Star_3 {
  visibility: visible;
}
#OverheadContainer .Star4 #Star_1,
#OverheadContainer .Star4 #Star_2,
#OverheadContainer .Star4 #Star_3,
#OverheadContainer .Star4 #Star_4 {
  visibility: visible;
}
#OverheadContainer .Star5 #Star_1,
#OverheadContainer .Star5 #Star_2,
#OverheadContainer .Star5 #Star_3,
#OverheadContainer .Star5 #Star_4,
#OverheadContainer .Star5 #Star_5 {
  visibility: visible;
}
#OverheadContainer #StatusBar {
  horizontal-align: center;
  flow-children: right;
}
#OverheadContainer #Rarity {
  margin-top: 26px;
}
#OverheadContainer #RarityImage {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#OverheadContainer .rarity_n #RarityImage {
  background-image: url("file://{images}/custom_game/RareIcon_N.png");
}
#OverheadContainer .rarity_r #RarityImage {
  background-image: url("file://{images}/custom_game/RareIcon_R.png");
}
#OverheadContainer .rarity_sr #RarityImage {
  background-image: url("file://{images}/custom_game/RareIcon_SR.png");
}
#OverheadContainer .rarity_ssr #RarityImage {
  background-image: url("file://{images}/custom_game/RareIcon_SSR.png");
}
#OverheadContainer #Bar {
  vertical-align: top;
  width: 70px;
  flow-children: down;
  margin-top: 20px;
}
#OverheadContainer #UnitName {
  vertical-align: center;
  horizontal-align: center;
  width: 100%;
  height: 15px;
  text-align: center;
  text-overflow: shrink;
  z-index: 50;
}
#OverheadContainer .rarity_n #UnitName {
  color: #cac7c8;
  text-shadow: 0px 0px 3px 3.7 #333333;
}
#OverheadContainer .rarity_r #UnitName {
  color: #bbe3ff;
  text-shadow: 0px 0px 3px 3.7 #2c4b5c;
}
#OverheadContainer .rarity_sr #UnitName {
  color: #d3bcff;
  text-shadow: 0px 0px 3px 3.7 #4b2c50;
}
#OverheadContainer .rarity_ssr #UnitName {
  color: #e1c989;
  text-shadow: 0px 0px 3px 3.7 #743804;
}
#OverheadContainer #HealthBar {
  width: 100%;
  height: 7px;
}
#OverheadContainer #HealthProgress {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border-width: 1px;
  border-top-width: 0px;
}
#OverheadContainer #HealthProgress_Left {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#425d25), color-stop(0.2, #5BA539), color-stop(0.5, #4D9030), to(#425d25));
}
#OverheadContainer #ManaBar {
  width: 100%;
  height: 5px;
}
#OverheadContainer #ManaProgress {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border-width: 1px;
  border-top-width: 0px;
}
#OverheadContainer #ManaProgress_Left {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#2b4287), color-stop(0.2, #4165ce), color-stop(0.5, #4a73ea), to(#2b4287));
}
#OverheadContainer #LevelInfo {
  horizontal-align: right;
  margin-top: 6px;
  width: 24px;
  height: 44px;
}
#OverheadContainer #LevelInfo > #LevelBackground {
  horizontal-align: center;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #121212;
  visibility: visible;
}
#OverheadContainer #LevelInfo > #LevelLabel {
  horizontal-align: center;
  vertical-align: bottom;
  margin-top: 1px;
  margin-bottom: 0px;
  padding: 1px;
  width: 24px;
  height: 24px;
  color: #E7D291;
  text-shadow: 0px 0px 2.25px 2.7 #EC780E24;
  text-align: center;
  text-overflow: shrink;
  opacity-mask: none;
  z-index: 50;
}
#OverheadContainer #LevelInfo > #CircularXPProgress,
#OverheadContainer #LevelInfo > #CircularXPProgressBlur {
  horizontal-align: center;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  visibility: visible;
}
#OverheadContainer #LevelInfo > #CircularXPProgressBlur_FG,
#OverheadContainer #LevelInfo > #CircularXPProgress_FG {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1.5px solid #E7D291;
  z-index: 50;
  transition-property: clip;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  visibility: visible;
}
#OverheadContainer #LevelInfo > #CircularXPProgressBlur_BG,
#OverheadContainer #LevelInfo > #CircularXPProgress_BG {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #393939;
  z-index: 40;
  background-color: #000000FF;
  visibility: visible;
}
#OverheadContainer #LevelInfoBurstFX {
  width: 100%;
  height: 100%;
  visibility: collapse;
}
#OverheadContainer .HasAbilityToSpend #LevelInfoBurstFX {
  visibility: visible;
}
#OverheadContainer #LevelButton {
  margin-top: 4px;
  width: 24px;
  height: 16px;
  background-image: url("s2r://panorama/images/hud/reborn/levelup_button_psd.vtex");
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: breath;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  visibility: collapse;
}
#OverheadContainer .HasAbilityToSpend #LevelButton {
  visibility: visible;
}
#OverheadContainer #LevelIcon {
  horizontal-align: center;
  vertical-align: center;
  width: 10px;
  height: 10px;
  background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_well_psd.vtex");
  background-size: 100%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer {
  width: 100%;
  height: 100%;
}
#HeroOverheadContainer .HeroOverhead {
  margin-top: -56px;
  z-index: 10;
}
#HeroOverheadContainer .HeroOverhead.IsLocal {
  margin-top: -8px;
}
#HeroOverheadContainer #HeroOverheadPanel {
  width: 192px;
  height: 64px;
  overflow: noclip;
}
#HeroOverheadContainer .HeroOverheadDetail {
  animation-name: none;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#HeroOverheadContainer .designation_1 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_1 #HeroOverheadDetail_1 {
  width: 100%;
  height: 100%;
  background-image: url("file://{images}/custom_game/avatar/designation/designation_1_a.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation-name: designation_1_breathing;
  animation-delay: 0s;
  animation-duration: 2s;
}
#HeroOverheadContainer .designation_1 #HeroOverheadDetail_2 {
  width: 100%;
  height: 100%;
  background-image: url("file://{images}/custom_game/avatar/designation/designation_1_b.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation-name: designation_1_breathing;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
#HeroOverheadContainer .designation_1 #HeroOverheadDetail_3 {
  width: 100%;
  height: 100%;
  background-image: url("file://{images}/custom_game/avatar/designation/designation_1_c.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation-name: designation_1_breathing;
  animation-delay: 0.8s;
  animation-duration: 2s;
}
#HeroOverheadContainer .designation_1 #HeroOverheadDetail_4 {
  width: 100%;
  height: 100%;
  background-image: url("file://{images}/custom_game/avatar/designation/designation_1_d.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation-name: designation_1_breathing;
  animation-delay: 1.2s;
  animation-duration: 2s;
}
#HeroOverheadContainer .designation_1 #HeroOverheadDetail_5 {
  width: 100%;
  height: 100%;
  background-image: url("file://{images}/custom_game/avatar/designation/designation_1_e.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation-name: designation_1_breathing;
  animation-delay: 1.6s;
  animation-duration: 2s;
}
@keyframes 'designation_1_breathing' {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#HeroOverheadContainer .designation_2 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_2.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_3 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_3.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_4 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_4.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_5 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_5.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_6 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_6.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_7 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_7.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_8 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_8.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_9 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_9.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_10 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_10.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_11 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_11.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_12 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_12.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#HeroOverheadContainer .designation_13 #HeroOverheadPanel {
  background-image: url("file://{images}/custom_game/avatar/designation/designation_13.png");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
#BossOverheadContainer {
  width: 100%;
  height: 100%;
}
#BossOverheadContainer .BossOverhead {
  vertical-align: top;
  width: 140px;
  flow-children: down;
}
#BossOverheadContainer .BossOverhead.IsRoshan {
  width: 280px;
}
#BossOverheadContainer .BossOverhead.UpperLevel {
  z-index: 1;
}
#BossOverheadContainer .BossOverhead.no_health_bar {
  opacity: 0;
}
#BossOverheadContainer #BossOverheadHealthProgressBar {
  width: 100%;
  height: 12px;
  border-radius: 0px;
  border-width: 1px;
  border-top-width: 0px;
  border: 1px solid gray;
  hue-rotation: 245deg;
  saturation: 2;
}
#BossOverheadContainer .IsCursor #BossOverheadHealthProgressBar {
  box-shadow: #ff0000 -4px -4px 4px 8px;
}
#BossOverheadContainer .IsRoshan #BossOverheadHealthProgressBar {
  height: 14px;
}
#BossOverheadContainer #BossOverheadHealthProgressBar_Left {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#425d25), color-stop(0.2, #5BA539), color-stop(0.5, #4D9030), to(#425d25));
}
#BossOverheadContainer #BossOverheadHealthProgressBar_Right {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#17200d), color-stop(0.2, #222e13), color-stop(0.5, #1e2911), to(#17200d));
}
#BossOverheadContainer #WaveGoldTotalDamage {
  horizontal-align: center;
  font-size: 18px;
  color: #ffcc00;
  background-color: #000000;
  text-align: center;
  visibility: collapse;
}
#BossOverheadContainer #WaveGoldTotalDamage {
  horizontal-align: center;
  font-size: 18px;
  color: #ffcc00;
  background-color: #000000;
  text-align: center;
  visibility: collapse;
}
#BossOverheadContainer .IsWaveGold #WaveGoldTotalDamage {
  visibility: visible;
}
