.Full {
  width: 100%;
  height: 100%;
}
.CloseButton {
  width: 30px;
  height: 30px;
  background-image: url("s2r://panorama/images/control_icons/x_close_gradient_png.vtex");
  background-size: 100%;
  transition-property: wash-color;
  transition-duration: 0.1s;
}
.CloseButton:active {
  background-size: 100%;
}
.CommonButton {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#5a6c75), to(#3d4a50));
  border: 1px solid black;
  margin: 8px;
  width: 192px;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #ffffff44;
  border-right: 1px solid #4e5b60;
  border-left: 1px solid #4e5b60;
  border-bottom: 1px solid #00000088;
  transition-property: background-color, wash-color;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.CommonButton:hover {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#a9c8da), to(#596b75));
}
.CommonButton:active {
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#272f33), to(#5a6c75));
  border-top: 1px solid #00000088;
  border-right: 1px solid #00000088;
  border-left: 1px solid #00000088;
  border-bottom: 1px solid #aaaaaa44;
}
.CommonButton Label {
  color: white;
  font-size: 24px;
  align: center center;
}
.CheckBox:selected Label {
  color: white;
}
.CheckBox Label {
  font-size: 18px;
  color: #7d8688;
  vertical-align: center;
  margin: 0px;
  padding-top: 4px;
  padding-left: 5px;
  letter-spacing: 1px;
  font-weight: thin;
}
